<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt"/>
    <appendToFile value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header]"/>
      <footer value="[Footer]"/>
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
    </layout>
  </appender>
  <root>
    <!--<level value="OFF"/>-->
    <level value="Fatal"/>
    <!--<level value="Error"/>-->
    <!--<level value="Warn"/>-->
    <!--<level value="Info"/>-->
    <!--<level value="Debug"/>-->
    <!--<level value="ALL"/>-->
    <appender-ref ref="LogFileAppender"/>
  </root>
</log4net>